<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Início</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dist/css/inicio.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div align="right" class="student-name">
        <label><%= nome %></label>
     <br/>
    </div>
    <div align="left" class="logo">
      <img src="logo_UTFPR.jpg" width="200">
    </div>

    <div class="container">
      <div class="porc"> 
        <div class="porc-text"><%= grupo['1'].horas %></div> 
      </div>
      <div class="container-2"> Grupo 1 </div>
      <div align="left" class="lista-grupo">
        <%for(var i=0; i<grupo['1'].certificados.length; i++) {%>
          <%= grupo['1'].certificados[i].Tipo %>
          <a href="<%= grupo['1'].certificados[i]['Certificado-href'] %>"> Verificado!</a></br>
       <%} %>
      </div>
    </div>

    <div class="container">
        <div class="porc"> 
            <div class="porc-text"><%= grupo['2'].horas %></div> 
        </div>
        <div class="container-2"> Grupo 2 </div>
        <div align="left" class="lista-grupo">
            <%for(var i=0; i<grupo['2'].certificados.length; i++) {%>
                <%= grupo['2'].certificados[i].Tipo %>
                <a href="<%= grupo['2'].certificados[i]['Certificado-href'] %>"> Verificado!</a></br>
             <%} %>
        </div>
      </div>

      <div class="container">
          <div class="porc"> 
              <div class="porc-text"><%= grupo['3'].horas %></div> 
            </div>
          <div class="container-2"> Grupo 3 </div>
          <div align="left" class="lista-grupo">
              <%for(var i=0; i<grupo['3'].certificados.length; i++) {%>
                  <%= grupo['3'].certificados[i].Tipo %>
                  <a href="<%= grupo['3'].certificados[i]['Certificado-href'] %>"> Verificado!</a></br>
               <%} %>
          </div>
        </div>
    <footer>
      <p class="mt-5 mb-3 text-muted">&copy;2018</p>
    </footer>
  </body>
</html>